{% extends 'base.html' %}

{% block conteudo %}
    <h1>Listagem de Tarefas</h1>
{% for tarefa in tarefas %}
    <div class="card mb-3">
        <div class="card-header">
             {{ tarefa.get_prioridade_display }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ tarefa.titulo }}</h5>
            <p class="card-text">{{ tarefa.descricao }}</p>
            <p class="card-date">{{ tarefa.data_expiracao }}</p>
            <a href="{% url 'editar_tarefas' tarefa.id %}"><input type="button" class="btn btn-warning" value="Alterar Tarefa">
            <a href="{% url 'remover_tarefas' tarefa.id %}"><input type="button" class="btn btn-danger" value="Remover Tarefa">
        </div>
    </div>
{% endfor %}
<a href = "{% url 'cadastrar_tarefas' %}"><input type="button" class="btn btn-success" value="Cadastrar Tarefa">
{% endblock conteudo %}